html {
    background-color: grey;
    height: 100%;
}


#title {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 99%;
    height: 10%;
    font-size: 350%;
    background-color: #7a6726;
    color: rgba(105, 70, 23, 0.911); 
    margin: 0%;
    padding: 0%;
    -webkit-text-stroke: 2px black;
    
    
}

body {
    height: 99%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
}

div {
    position: absolute;
    display: grid;
    justify-content: center;
    text-align: center;
    
}

p {
    display: grid;
    margin: 0%;
    margin-top: 3%;
    padding: 0%;
}


#map {
    left: 9%;
    width: 82%;
    height: 78%;
    top: 11.5%;
    
    
    
}

a { 
    position: relative;
    text-decoration: none;
    width: 90px;
    height: 27px;
}
button {
    position: relative;
    font-size: 100%;
    overflow: auto;
    width: 90px;
    height: 27px;
    background-color: rgb(0,0,0,0.1);
    border-radius: 20%;
}

#buttonHerdaz {
    position: absolute;
    left: 63%;
    top: 30%;  
    width: 90px;
    height: 27px;
    
}

#buttonHerdaz:hover #infoHerdaz {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoHerdaz{
    
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}
#buttonShinovar {
    position: absolute;
    left: 25%;
    top: 50%;  
    
}

#buttonShinovar:hover #infoShinovar {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoShinovar{
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}

#buttonJah {
    position: absolute;
    right : 37%;
    top: 37%;;
}

#buttonJah:hover #infoJah {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoJah{
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}
#buttonAlethkar {
    position: absolute;
    right: 29%;
    top: 50%;
}

#buttonAlethkar:hover #infoAlethkar {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoAlethkar{
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}

#buttonAzir {
    position: absolute;
    left: 35%;
    bottom: 36%;
}

#buttonAzir:hover #infoAzir {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoAzir{
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}

#buttonKarbranth {
    position: absolute;
    right: 40%;
    bottom: 25%;   
}

#buttonKarbranth:hover #infoKarbranth {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoKarbranth{
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}
#buttonThay {
    position: absolute;
    right: 33%;
    bottom: 15%;   
}

#buttonThay:hover #infoThay {
    transition-delay: 0.6s;
    visibility: visible;
}

#infoThay{
    display: grid;
    position: absolute;
    visibility: hidden;
    right: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    border-radius: 10%;
}

.textoinfo {
    display: grid;
    justify-content: start;
    border-bottom: 3px solid black;
    height: fit-content;
}



#footer{
    width: 100%;
    display: grid;
    justify-content: center;
    position: fixed;
    height: 10%;
    bottom: 0%;
    
}

.minidesc {
    display: grid;
    justify-content: start;
}

#pdv{
    display: grid;
    position: absolute;
    left: -31.2%;
    top: -1.95%;
    height: 100.6%;
    transition-duration: 1.5s;
    opacity: 10%;
}

#pdv:hover {
    transition-duration: 1s;
    opacity: 100%;

}

#rad {
    display: grid;
    position: absolute;
    right: -10.60%;
    top: -1.95%;
    width: 20%;
    height: auto;
    transition-duration: 1.5s;
    opacity: 10%;
    
}

#rad:hover {
    transition-duration: 1s;
    opacity: 100%;
}